Source: linux-qcom
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               flex,
               bison,
               bc,
               libncurses-dev,
               libssl-dev,
               cpio,
               kmod,
               libyaml-dev,
               rsync,

Package: linux-image-radxa-dragon-q6a
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-qcom,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa Dragon Q6A
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-dragon-q6a
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-qcom,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa Dragon Q6A
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-dragon-q6a
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-qcom,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa Dragon Q6A
 This is the meta-package for Linux libc-dev.
